* {
  box-sizing: border-box;
}

html,
body, #viewDiv{
  font-family: Avenir Next W00;
  font-size: 14px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.action {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

#anonymousPanel{
  display: block;
  padding: 5px;
  text-align: center;
}

#personalizedPanel{
  padding: 5px;
  text-align: center;
}

#userId{
  font-weight:bold;
}
