html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Avenir Next W00","Helvetica Neue",Helvetica,Arial,sans-serif;
  overflow: hidden;
}

#flexContainer{
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: row;
}

#viewDiv {
  border:solid;
  flex:3;
}

#sidebar {
    display:flex;
    flex-direction: column;
    flex:2;
    padding:1em;
    overflow: auto;
    border: solid;
   }

#sidebarHeader{
  display:flex;
  flex-direction:column;
}

.headerItem{
  align-self: center;
}

#sidebarContent {
  display:flex;
  flex-direction: column;
  padding:.25em;
}

#sidebarContent h2 {
  align-self:center;
}

#sidebarContent p {
  align-self:center;
}

.sidebarItem {
  margin:.5em;
}

.sidebarButton {
  text-align: justify;
  font-style: bold;
  text-decoration: none;
  display:none;
  color:black;
}

.sidebarButton:hover{
  color:blue;
}

.queryImg {
  max-width:100%;
}

#sidebarFooter{
  margin-top: auto;
  align-self: center;
}

#sidebarFooter p {
  margin:0;
  padding:0;
}

#formContainer {
  display:none;
  flex-direction: column;
  background-color: white;
  position:absolute;
  z-index: 3;
  width:35%;
  height:70%;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  padding:1em 2em 2em 2em;
  overflow: auto;
}

#formContainer h3{
  margin: .5em;
  text-align: center;
}

.formField {
  padding:.5em;
  margin: .5em 0 .5em 0;
  background: #f1f1f1;
  border: none;
}

#submitFormBtn {
  width:50%;
  height:50%;
  margin-top:1em;
  margin-bottom:1em;
  align-self: center;
}

#closeForm {
  align-self: flex-end;
  font-size: 1.5rem;
  text-decoration: none;
}

#closeForm:hover {
  color:red;
}

#openForm{
  color:black;
  text-decoration: none;
}

#openForm:hover{
  color:blue;
}

#formFooter{
  align-self: center;
  margin-top:auto;
  padding: 1em;
}

#overlay{
  position:absolute;
  display:none;
  height:100%;
  width:100%;
  z-index:2;
  background-color:grey;
  opacity: 25%;
}

#visitHeader {
  display:none;
  flex-direction: row;
}

#finnRank{
  margin:0 .25em 0 0;
}

#visitDate {
  margin: 0 0 0 auto;
}

.fa {
  margin-top: .1em;
}

.checked {
  color: orange;
}

@media screen and (max-width: 500px) {
  .sidebarItem{
    margin:.25em;
  }
  #flexContainer{
    flex-direction: column;
  }

  #formContainer{
    width:70%;
    font-size: smaller;
  }

  #formFooter{
    margin:0;
  }

  #sidebar{
    flex:4;
    font-size:smaller;
    overflow:hidden;
  }

  #sidebarContent{
    overflow:auto;
    margin-bottom:.75em;
    margin-top:.75em;
  }

  .headerItem{
    padding:.25em;
    margin:.25em;
  }

}

@media screen and (orientation: landscape) and (max-width: 800px){
  .sidebarItem{
    margin:.25em;
  }

  #formContainer{
    width:70%;
    font-size: smaller;
  }

  #formFooter{
    margin:0;
  }

  #sidebar{
    flex:4;
    font-size:smaller;
    overflow:hidden;
  }

  #sidebarContent{
    overflow:auto;
    margin-bottom:.75em;
  }

  .headerItem{
    margin:.25em;
  }
}
